<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap-css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" crossorigin="anonymous">
    <title>DDOS detector</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">DDOS Detector</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" id="ip-search" type="search" placeholder="IP search" aria-label="IP search">
        <button class="btn btn-outline-primary" type="button" id="ip-search-btn">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="main container">
  <h1>Summary of requests for last 24 hours</h1>
  <hr>
  <h4>TOTAL REQUESTS: <%= all %></h4>
  <h4>TOTAL UNIQUES IPs: <%= unique %></h4>
  <hr>
  <h4>TOP 20 (or > 1000 hits) IPs</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">IP address</th>
        <th scope="col">Country</th>
        <th scope="col"># requests</th>
        <th scope="col"># unique requests</th>
        <th scope="col">Total bytes returned</th>
        <th scope="col"># unique status codes</th>
        <th scope="col"># unique user agents</th>
        <th scope="col">Requests repetitions</th>
        <th scope="col"># all time requests</th>
      </tr>
    </thead>
    <tbody>
    <%_ for(const ip of ips) { _%>
      <tr class="table-<%= ip.rowColor() %>">
        <th scope="row"><%= ip.i %>.</th>
        <td><a href="/ip/<%= ip.address %>"><%= ip.address %></a></td>
        <td><% if(ip.geoip){ %><%= ip.geoip.geo.country_name %><% } else if (ip.country) { %><%= ip.country %><% } %></td>
        <td><%= ip.num %></td>
        <td><%= ip.numUnique %></td>
        <td><%= ip.bytes %></td>
        <td><%= ip.numStatusCodes %></td>
        <td><%= ip.numUserAgents %></td>
        <td><% if(ip.requestsRepetiotions){ %><%= ip.requestsRepetiotions %><% } %></td>
        <td><% if(ip.allTime){ %><%= ip.allTime %><% } %></td>
      </tr>
    <%_ } _%>
    </tbody>
  </table>
</div>
<script src="/bootstrap-js/bootstrap.bundle.js" crossorigin="anonymous"></script>
<script src="/js/script.js" crossorigin="anonymous"></script>
</body>
</html>
