<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>DDOS detector</title>
</head>
<body>
<h1>Hello, world!</h1>

<pre>
### TOTAL REQUESTS: <%= all %>
### TOTAL UNIQUES IPs: <%= unique %>

# TOP 20 (or > 1000 hits) IPs:
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">IP address</th>
      <th scope="col">Num requests in 24 hours</th>
      <th scope="col">Num all time requests</th>
    </tr>
  </thead>
  <tbody>
  <%_ for(const ip of ips) { _%>
    <tr>
      <th scope="row"><%= ip.i %>.</th>
      <td><a href=""><%= ip.address %></a></td>
      <td><%= ip.num %></td>
      <td><%= ip.allTime %></td>
    </tr>
         :  (all time: )<% if(ip.requestPatterns){ %> => request patterns: <%= ip.requestPatterns %><% } %>
    <%_ } _%>
  </tbody>
</table>

</pre>

<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
</body>
</html>
